@import url("https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:500,700");

html, body {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  color: #000000;
  margin: 0px;
  background-image: url("img/clothes.jpg");
  background-size: cover;
  text-align: center;
}

h1 {
  font-family: "Playfair Display", serif;
  color: #000000;
  margin: 0px;
  text-align: center;
}

h2 {
  font-weight: 800;
  font-size: 1em;
  letter-spacing: 0.1em;
  padding: 20px;
  margin: 0px;
}
